footer.component.html



<footer class="site-footer" #animatedContainer>
    <div class="footer-container">
      <!-- Left Section - Logo & Social Media -->
      <div class="footer-section logo-social">
        <div class="logo-container">
          <img src="logo.png" alt="Company Logo" class="footer-logo">
        </div>
        <div class="social-media">
          <h4>Connect With Us</h4>
          <div class="social-icons">
            <a href="#" target="_blank" aria-label="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" target="_blank" aria-label="Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" target="_blank" aria-label="LinkedIn">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="#" target="_blank" aria-label="Instagram">
              <i class="fa fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Right Section - Navigation Links -->
      <div class="footer-section navigation-links">
        <div class="link-group">
          <h4>Company</h4>
          <ul>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/careers">Careers</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="link-group">
          <h4>Resources</h4>
          <ul>
            <li><a routerLink="/help">Help Center</a></li>
            <li><a routerLink="/privacy">Privacy Policy</a></li>
            <li><a routerLink="/terms">Terms of Service</a></li>
            <li><a routerLink="/faq">FAQs</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Copyright Notice -->
    <div class="copyright">
      <p>&copy; {{ currentYear }} Your Company Name. All rights reserved.</p>
    </div>

</footer>