<!-- <p>customers works!</p> -->
<div class="container">
    <div class="header">
        <h1 class="title">What our customers saying...</h1>
        <hr>
    </div>
    <div class="body">
        <div class="customerName">
            <h4>Scott Wagner</h4>
            <p> Pakistan </p>
        </div>
        <div class="customerMessage">
            <p> <span>"</span> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, fugiat id magnam at minus iste. Quidem,
                necessitatibus? Vel, fugiat possimus fuga culpa quas error. Accusantium eum officiis consequuntur
                voluptates error. <span>"</span></p>
        </div>
    </div>
</div>