<div class="sidebar" [class.open]="isSidebarOpen">
    <!-- Toggle Button -->
    <button class="toggle-btn" (click)="toggleSidebar()">
        {{ isSidebarOpen ? 'Close Menu' : 'Open Menu' }}
    </button>

    <!-- Sidebar Content -->
    <div>
        <button class="button-33" role="button" (click)="onLogout()">Logout</button>
        <button class="button-33" role="button" routerLink="/resumes">Edit Resumes </button>
        <button class="button-33" role="button" routerLink="/dashboard"> Create Resume </button>
    </div>
</div>


<!-- Dropdown Section -->
<!-- <div class="dropdown-container">
    <h1>Your Resumes</h1>
    <p>Manage and view all of your resumes in one place.</p>
    <label for="cvFormat" class="dropdown-label">Select CV Format:</label>
    <select id="cvFormat" [(ngModel)]="selectedFormat" (change)="onChangeFormat()" class="dropdown-select">
      <option *ngFor="let format of format" [value]="format.value">{{ format.label }}</option>
    </select>
  </div> -->



<!-- Error Message Section -->
<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
</div>



<!-- Resumes Section -->
<div class="formats-of-resumes" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp()">
    <!-- <button class="button" (click)="scrollLeft()">&lt;</button> -->

    <div class="Template-1" *ngIf="currentIndex === 0" id="resume-content">
        <div class="buttons-div">
            <button class="button-left" role="button" (click)="scrollLeft()">&lt;</button>
            <button class="button-right" role="button" (click)="scrollRight()"> &gt;</button>
            <app-template1></app-template1>
        </div>
    </div>
    <!-- No Resumes Available Message -->
    <div *ngIf="resumes.length === 0" class="no-resumes-message">
        No resumes available.
    </div>





















    <!--  Simple  Resume Template  -->
    <div class="Template-2" *ngIf="currentIndex === 1">
        <!-- <div *ngIf="resumes.length > 0" class="resume-container"> -->

        <div class="buttons-div">
            <button class="button-left" role="button" (click)="scrollLeft()">&lt;</button>
            <button class="button-right" role="button" (click)="scrollRight()"> &gt;</button>
            <app-template2></app-template2>
        </div>
    </div>




















    <!-- Resume 3 Template  -->

    <div class="Template-3" *ngIf="currentIndex === 2">
        <div class="buttons-div">
            <button class="button-left" role="button" (click)="scrollLeft()">&lt;</button>
            <button class="button-right" role="button" (click)="scrollRight()"> &gt;</button>
            <app-template3></app-template3>
        </div>
    </div>































































    <!-- Resume 4 Template  -->

    <div class="Template-4" *ngIf="currentIndex === 3">
        <div class="buttons-div">
            <button class="button-left" role="button" (click)="scrollLeft()">&lt;</button>
            <button class="button-right" role="button" (click)="scrollRight()"> &gt;</button>
        </div>
        <app-template4> </app-template4>

    </div>

</div>
<!-- No Resumes Available Message -->
<div *ngIf="resumes.length === 0" class="no-resumes-message">

    No resumes available.

</div>


<router-outlet></router-outlet>