<div class="sidebar" [class.open]="isSidebarOpen">
    <!-- Toggle Button -->
    <button class="toggle-btn" (click)="toggleSidebar()">
        {{ isSidebarOpen ? 'Close Menu' : 'Open Menu' }}
    </button>

    <!-- Sidebar Content -->
    <div>
        <button class="button-33" role="button" (click)="onLogout()">Logout</button>
        <button class="button-33" role="button" routerLink="/resumes">Edit Resumes </button>
        <button class="button-33" role="button" routerLink="/dashboard"> Create Resume </button>
    </div>
</div>








<!-- Drop Down To Select Templates For User   -->
  <div class="drop-down">
    <label class="block mb-2 text-lg font-semibold">Select Resume Template : </label>
    <select [(ngModel)]="selectedFormat" class="border rounded p-2 w-full">
        <option value="" disabled>Select Section</option>
        <option *ngFor="let section of dropDownFormat" [value]="section">{{ section }}</option>
    </select>
</div>






<!-- Error Message Section -->
<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
</div>



<!-- Resumes Section -->
<div class="formats-of-resumes">

    <div class="Template-1"  id="resume-content" *ngIf="selectedFormat === 'Education'">
        <div class="buttons-div">
            <app-template1></app-template1>
        </div>
    </div>




    <!-- No Resumes Available Message
    <div *ngIf="resumes.length === 0" class="no-resumes-message">
        No resumes available.
    </div> -->






    <!--  Simple  Resume Template  -->
    <div class="Template-2" *ngIf="selectedFormat === 'Doctor'">
        <app-template2></app-template2>
    </div>







    <!-- Resume 3 Template  -->

    <div class="Template-3" *ngIf="selectedFormat === 'Student'">
        <div class="buttons-div">
            <app-template3></app-template3>
        </div>
    </div>






    <!-- Resume 4 Template  -->

    <div class="Template-4" *ngIf="selectedFormat === 'Advocate'">
        <div class="buttons-div">
            <app-template4> </app-template4>
        </div>
    </div>

</div>

<!-- No Resumes Available Message
<div *ngIf="resumes.length === 0" class="no-resumes-message">

    No resumes available.

</div> -->


<router-outlet></router-outlet>