@keyframes gradientAnimation {
  0% {
    background-position: 0% 20%;
  }
  20%{
    background-position: 20% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.formats-of-resumes {
  width: 100%;
  max-width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(135deg, rgb(31, 57, 58), rgb(10, 25, 27), rgb(44, 83, 85)); */
  background: linear-gradient(135deg,
      rgb(31, 57, 58),
      rgb(44, 83, 85),
      rgb(25, 98, 101),
      rgb(9, 40, 43),
      rgb(72, 128, 131),
      rgb(15, 62, 65),
      rgb(40, 120, 123));
  background-size: 300% 300%;
  animation: gradientAnimation 20s ease infinite;

}







/*  Left Right Buttons  */
.buttons-div {
  background-color: rgb(22, 62, 63);
}

.button-left {
  background-color: rgb(86, 86, 146);
  /* margin-left: 92%; */
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px 0px 10px 10px;
}

.button-left:hover {
  box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(0deg);
  color: wheat;
  background-color: red;
}

.button-right {
  background-color: rgb(86, 86, 146);
  margin-left: 90%;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

.button-right:hover {
  box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(0deg);
  color: wheat;
  background-color: red;
}















/*  Education Format */


.resume-container {
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  /* padding-top: 20px; */
  align-items: center;
}

.resume-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(28, 79, 80);
  color: wheat;
}

.header-left {
  width: 70%;
}

.header-left h1 {
  margin: 0;
  font-size: 28px;
  /* color: #fdfdfd; */
}

.header-left h2 {
  margin: 10px 0;
  font-size: 18px;
  /* color: #ffffff; */
}

.header-left p {
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  /* color: white; */
}

.header-right img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.resume-content {
  display: flex;
  padding: 20px;
}

.main-content {
  width: 100%;
}

.main-content h2 {
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.main-content article {
  margin-bottom: 20px;
}

.main-content h3 {
  font-size: 16px;
  color: #333;
  margin: 0;
}

.main-content h4 {
  font-size: 14px;
  color: #777;
  margin: 5px 0;
}

.main-content ul {
  padding-left: 20px;
  margin: 10px 0 0;
}

.main-content ul li {
  margin-bottom: 5px;
  font-size: 14px;
}

.sidebar {
  width: 35%;
  padding-left: 20px;
  border-left: 2px solid #eaeaea;
  background-color: rgb(28, 79, 80);
  margin-top: -20px;
  margin-right: -20px;
  color: white;
  border-radius: 3px;
}

.sidebar h2 {
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.sidebar p,
.sidebar ul li {
  font-size: 14px;
  margin-bottom: 10px;
}





/* General Responsive Adjustments */
@media (max-width: 1024px) {
  /* Tablet devices */


  .resume-container {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
  }



  .header-info h1 {
    font-size: 20px;
  }

  .header-info h2 {
    font-size: 16px;
  }

  .content {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding-right: 0;
    border-right: none;
    margin-bottom: 20px;
    border-bottom: 2px solid #eaeaea;
  }

  .main {
    width: 100%;
    padding-left: 0;
  }
}






@media (max-width : 1008px) {
  /* Mobile devices */
  /*  Left Right Buttons Settings */

  .buttons-div {
    width: 100%;
  }

  .button-left {
    margin-left: 10px;
  }

  .button-right {
    margin-left: 88%;
  }
}

@media (max-width : 940px) {
  .button-right {
    margin-left: 80%;
  }
}




@media (max-width: 768px) {
  /* Mobile devices */
  /*  Left Right Buttons Settings */

  .buttons-div {
    width: 100%;
  }

  .button-left {
    margin-left: 10px;
  }

  .button-right {
    margin-left: 78%;
  }

  /* Resume container adjustments */

  .resume-container {
    width: 100%;
    padding: 0px;
  }

  .resume-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header-left {
    width: 100%;
  }

  .header-left h1 {
    font-size: 25px;
    color: white;
  }

  .header-left h2 {
    font-size: 14px;
    margin: 8px 0;
    color: white;
  }

  /* .header-right img {
  width: 80px;
  height: 80px;
} */

  .resume-content {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding: 0%;
  }

  .main-content {
    width: 100%;
    /* background-color: red; */
    margin-top: -20px;
    padding: 40px 0px 20px 0px;
  }

  .main-content h2 {
    font-size: 20px;
    margin-bottom: 15px;
    padding-left: 15px;
  }

  .main-content h3 {
    font-size: 14px;
    padding-left: 18px;
  }

  .main-content h4 {
    font-size: 12px;
    padding-left: 18px;
  }

  .main-content ul {
    padding-left: 40px;
  }






  .sidebar {
    color: black;
    padding-top: 20px;
    background-color: white;
    border-top: 2px solid #030303;
  }

  .sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
    /* background-color: red; */
  }

  .sidebar p,
  li {
    font-size: 12px;
    padding-left: 20px;
  }

  .sidebar ul {
    color: black;
    padding-left: 20px;
  }
}


@media (max-width : 520px) {
  .button-right {
    margin-left: 70%;
  }
}

/* Additional Styles for Small Mobile Screens */
@media (max-width: 480px) {

  /* Small mobile devices */
  .header-info h1 {
    font-size: 18px;
  }

  .header-info h2 {
    font-size: 14px;
  }




}










.arrow {
  width: 40px;
  height: 40px;
  background-color: #4387ee;
  border-radius: 50%;
  font-weight: bold;
}

.arrow:hover {
  color: white;
  box-shadow: 2px 1px 2px gray;
}