
.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-family: Arial, sans-serif;
  /* background: linear-gradient(135deg, #1f393a, #0a191b, #2c5355, #196265); */

  background-size: 300% 300%;
  /* color: rgb(255, 255, 255); */

  font-size: 2rem;
  animation: gradientAnimation 8s ease infinite;
  /* box-shadow: 2px 2px 2px black; */
}
.counter-container h1{
  color: black;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}










@keyframes gradientAnimation {
  0% {
    background-position: 0% 20%;
  }
  20%{
    background-position: 20% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.formats-of-resumes {
  width: 100%;
  max-width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}







/*  Left Right Buttons  */
.buttons-div {
  background-color: rgb(22, 62, 63);

    /* Animation */
    opacity: 0;
    transform: translateX(100%);
    animation: slideFromTop 1s ease-out forwards;
}

.button-left {
  background-color: rgb(86, 86, 146);
  /* margin-left: 92%; */
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px 0px 10px 10px;
}

.button-left:hover {
  box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(0deg);
  color: wheat;
  background-color: rgb(58, 207, 58);
}

.button-right {
  background-color: rgb(86, 86, 146);
  margin-left: 88%;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

.button-right:hover {
  box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(0deg);
  color: wheat;
  background-color: rgb(58, 207, 58);
}















/*  Education Format */


.resume-container {
  width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


/*  First Resume Css Section  */
.personal-info {
  text-align: center;
  margin-bottom: 20px;
  background-color: white;
  padding: 20px 40px;
  color: black;
  font-family: sans-serif;
}

/* Add these styles to your CSS file */

.personal-infoName {
  font-size: 24px;
  font-family: FontAwesome;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;

  /* Animation */
  opacity: 0;
  transform: translateY(-100%);
  animation: slideFromTop 1.5s ease-out forwards;
}




.personal-info>p {
  font-size: 18px;
  font-family: FontAwesome;
  font-weight: 500;
  text-transform: capitalize;
  color: black;
  text-align: justify;
  /* letter-spacing: 1.5px; */

    /* Animation */
    opacity: 0;
    transform: translateY(-100%);
    animation: slideFromTop 1s ease-out forwards;
}


/* Keyframes for animation */
@keyframes slideFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


button {
  background-color: #cfcbcb;
  color: rgb(15, 15, 15);
  padding: 10px 40px;
  border: none;
  border-radius: 50px;
  box-shadow:
    inset 0 -3em 3em rgb(0 200 0 / 30%),

    0.3em 0.3em 1em rgba(47, 200, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-family: FontAwesome;
  font-weight: 500;
}

button:hover {
  background-color: blue;
}

/* No Resumes Available */
.no-resumes-message {
  text-align: center;
  align-items: center;
  margin-top: -56px;
  font-size: 1.1rem;
  color: white;
  font-style: italic;
}

/*  Download Buttons CSS */
.resume-container {

  border: 1px solid #ccc;
  background-color: #fff;
  width: 1200px;
  margin: auto;
  text-align: left;
}


button:hover {
  background-color:rgb(58, 207, 58);

}


.MainExperience-SkillsContainer {
  width: 100%;
  display: flex;
  flex: row;
  font-family: FontAwesome;
}

.MainExperience-SkillsContainer .Main-left {
  width: 65%;
  padding: 20px 20px 20px 20px;
}

.MainExperience-SkillsContainer .Main-left .Experience-Container {
  width: 100%;
  background-color: white;
}

.MainExperience-SkillsContainer .Main-left .Experience-Container .Experience-Header {
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  background-color: white;
  color: black;
  padding: 10px 0px 10px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      /* Animation */
      opacity: 0;
      transform: translateX(-100%);
      animation: slideFromLeft 1s ease-out forwards;
}


/* Keyframes for animation */
@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.MainExperience-SkillsContainer .Main-left .Experience-Container .Experience-ContainerUl {
  width: 100%;
  padding: 0;
  margin: 0%;
  background-color: white;
  margin-bottom: 50px;
}

.MainExperience-SkillsContainer .Main-left .Experience-Container .Experience-ContainerUl .Experience-ContainerParagraph {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  color: gray;
  font-family: FontAwesome;
  margin-left: 30px;
  list-style: .5;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */

        /* Animation */
        opacity: 0;
        transform: translateX(-100%);
        animation: slideFromLeft 1s ease-out forwards;
}





.MainExperience-SkillsContainer .Main-left .Education-Container {
  width: 100%;
  background-color: white;
}

.MainExperience-SkillsContainer .Main-left .Education-Container .Education-Header {
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  background-color: white;
  color: black;
  padding: 10px 0px 10px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        /* Animation */
        opacity: 0;
        transform: translateX(-100%);
        animation: slideFromLeft 1s ease-out forwards;
}

.MainExperience-SkillsContainer .Main-left .Education-Container .Education-ContainerUl {
  width: 100%;
  padding: 0;
  margin: 0%;
  background-color: white;
}

.MainExperience-SkillsContainer .Main-left .Education-Container .Education-ContainerUl .Education-ContainerParagraph {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  color: gray;
  font-family: FontAwesome;
  margin-left: 30px;
  list-style: .5;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */

        /* Animation */
        opacity: 0;
        transform: translateX(-100%);
        animation: slideFromLeft 1s ease-out forwards;
}





.MainExperience-SkillsContainer .Main-left .ExEducation-Container {
  width: 100%;
  background-color: white;
}

.MainExperience-SkillsContainer .Main-left .ExEducation-Container .EdEducation-Header {
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  background-color: white;
  color: black;
  padding: 10px 0px 10px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        /* Animation */
        opacity: 0;
        transform: translateX(-100%);
        animation: slideFromLeft 1s ease-out forwards;
}

.MainExperience-SkillsContainer .Main-left .ExEducation-Container .ExEducation-ContainerUl {
  width: 100%;
  padding: 0;
  margin: 0%;
  background-color: white;
}

.MainExperience-SkillsContainer .Main-left .ExEducation-Container .ExEducation-ContainerUl .ExEducation-ContainerParagraph {
  font-size: 16px;
  font-weight: 500;
  /* font-style: italic; */
  color: gray;
  font-family: FontAwesome;
  margin-left: 30px;
  list-style: .5;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  font-style: italic;

        /* Animation */
        opacity: 0;
        transform: translateX(-100%);
        animation: slideFromLeft 1s ease-out forwards;
}






.MainExperience-SkillsContainer .Main-right .Personal-Container {
  width: 100%;
  padding: 20px 20px 20px 20px;
  margin: 20px 0px 10px 0px;
}

.MainExperience-SkillsContainer .Main-right .Personal-Container .Personal-ContainerParagraph {
  font-size: 16px;
  font-weight: 500;
  /* font-style: italic; */
  color: gray;
  font-family: FontAwesome;
  margin-left: 30px;
  list-style: .5;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  font-style: italic;

        /* Animation */
        opacity: 0;
        transform: translateX(100%);
        animation: slideFromRight 1s ease-out forwards;
}



.MainExperience-SkillsContainer .Main-right .Skill-Container {
  width: 100%;
  padding: 20px 20px 20px 20px;
  margin: 20px 0px 10px 0px;
}

.MainExperience-SkillsContainer .Main-right .Skill-Container .Skill-Header {
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  background-color: white;
  color: black;
  padding: 10px 0px 10px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        /* Animation */
        opacity: 0;
        transform: translateX(100%);
        animation: slideFromRight 1s ease-out forwards;
}

.MainExperience-SkillsContainer .Main-right .Skill-Container .Skill-ContainerUl {
  width: 100%;
  padding: 0;
  margin: 0%;
  padding: 0px 0px 0px 10px;
  background-color: white;
}

.MainExperience-SkillsContainer .Main-right .Skill-Container .Skill-ContainerUl .Skill-ContainerParagraph {
  font-size: 16px;
  font-weight: 500;
  /* font-style: italic; */
  color: gray;
  font-family: FontAwesome;
  margin-left: 30px;
  list-style: .5;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  font-style: italic;

        /* Animation */
        opacity: 0;
        transform: translateX(100%);
        animation: slideFromRight 1s ease-out forwards;
}





.MainExperience-SkillsContainer .Main-right .Language-Container {
  width: 100%;
  padding: 20px 20px 20px 20px;
  margin: 20px 0px 10px 0px;
}

.MainExperience-SkillsContainer .Main-right .Language-Container .Language-Header {
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  background-color: white;
  color: black;
  padding: 10px 0px 10px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  
        /* Animation */
        opacity: 0;
        transform: translateX(100%);
        animation: slideFromRight 1s ease-out forwards;
}

.MainExperience-SkillsContainer .Main-right .Language-Container .Language-ContainerUl {
  width: 100%;
  padding: 0;
  margin: 0%;
  padding: 0px 0px 0px 10px;
  background-color: white;
}

.MainExperience-SkillsContainer .Main-right .Language-Container .Language-ContainerUl .Language-ContainerParagraph {
  font-size: 16px;
  font-weight: 500;
  /* font-style: italic; */
  color: gray;
  font-family: FontAwesome;
  margin-left: 30px;
  list-style: .5;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  font-style: italic;

  
        /* Animation */
        opacity: 0;
        transform: translateX(100%);
        animation: slideFromRight 1s ease-out forwards;
}

/* Keyframes for animation */
@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

























































/* Third Resume */
.cv-container {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px;
  background-color: #f9f9f9;
  /* border: 1px solid #ddd; */
  /* border-radius: 8px; */
}

/* Second Resume CSS Section  */

.resume-container {
  width: 1200px;
  height: auto;
  margin: 20px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* padding: 20px; */
  margin-bottom: 20px;
  font-family: sans-serif;
}

.resume-item {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 900px;
  margin: 60px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0px 0px;
}

.resume-item .left-button {
  background-color: rgb(86, 86, 146);
}

.resume-item .right-button {
  background-color: rgb(86, 86, 146);
  margin-left: 92%;
}



/* Header Styles */
.resume-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  padding: 20px 40px 0px 40px;
  margin-bottom: 0px;
  width: 100%;
}

.header-left h1 {
  font-size: 1.8rem;
  margin: 0;
  color: black;
  font-family: FontAwesome;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}


.header-left .heading-profile {
  color: black;
  font-family: FontAwesome;
  font-weight: 700;
  font-size: 24px;
  background-color: white;
  align-items: baseline;
  font-style: normal;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.header-left h2 {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #7f8c8d;
}

.header-left p {
  margin-top: 10px;
  color: #555;
  font-size: 0.95rem;
  text-align: justify;
}

.header-right {
  text-align: right;
  font-size: 0.95rem;
  color: #555;
  width: 500px;
}

.header-left {
  /* background-color: gray; */
  max-width: 98%;
}

.header-right p {
  margin: 5px 0;
  padding-left: 20px;
  text-align: justify;
}

.header-right a {
  color: #3498db;
  text-decoration: none;
}

.header-right a:hover {
  text-decoration: underline;
}

/* Content Section Styles */
.resume-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0px 40px;
}

.main-content {
  flex: 3;
}




.mainleft2-rightContainer {
  display: flex;
  flex: row;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.mainleft2 {
  width: 35%;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid rgb(146, 142, 142);
}

.mainleft2 .Skill2-ContainerHeading {
  color: black;
  font-family: FontAwesome;
  font-weight: 700;
  font-size: 24px;
  background-color: white;
  align-items: baseline;
  font-style: normal;
  margin: 18px 0px 2px 0px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.mainleft2 .Language2-ContainerHeading {
  color: black;
  font-family: FontAwesome;
  font-weight: 700;
  font-size: 24px;
  background-color: white;
  align-items: baseline;
  font-style: normal;
  margin: 18px 0px 2px 0px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.mainleft2-paragraph {
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 500;
  color: gray;
  font-style: italic;
}




.mainright2 {
  width: 65%;
  padding: 0px 0px 0px 20px;
}

.mainright2 h2 {
  font-size: 24px;
  font-family: FontAwesome;
  font-weight: 700;
  font-style: normal;
  color: black;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.mainright2 .mainright2-title {
  font-size: 22px;
  font-family: FontAwesome;
  font-weight: 700;
  font-style: normal;
  color: black;
  margin: 18px 0px 10px 0px;
}

.mainright2-paragraph {
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 500;
  color: gray;
  font-style: italic;
  margin: 4px 0px 6px 0px;
}



.mainContainer2-EduAndExtraEducation {
  width: 100%;
  background-color: white;
  color: black;
  font-family: FontAwesome;
  margin: 40px 0px 30px 0px
}

.mainContainer2-EduAndExtraEducation .Education2-Container {
  color: rgb(0, 0, 0);
  font-family: FontAwesome;
  font-weight: 600;
  width: 100%;
  display: flex;
  flex-direction: row;

  align-content: center;
  flex-wrap: nowrap;
  /* align-content: normal; */
  justify-content: space-evenly;
  align-items: baseline;
}

.mainContainer2-EduAndExtraEducation .Education2-ContainerHeading {
  color: black;
  font-family: FontAwesome;
  font-weight: 700;
  font-size: 24px;
  margin-left: 20px;
  background-color: white;
  align-items: baseline;
  font-style: normal;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.mainContainer2-EduAndExtraEducation .Education2-Container .Education2-ContainerUl {
  width: 100%;
  padding-left: 0;
  margin: 0;
  font-size: 16px;
}

.mainContainer2-EduAndExtraEducation .Education2-Container .Education2-ContainerUl .Education2-ContainerParagraph {
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 500;
  color: gray;
  font-style: italic;
}






.OtherEducation-Container {
  width: 100%;
  background-color: white;
  color: black;
  font-family: FontAwesome;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-evenly;
  align-items: baseline;
}

.OtherEducation-Container .OtherEducation-ContainerHeading {
  color: black;
  font-family: FontAwesome;
  font-size: 24px;
  font-weight: 700;
  margin-left: 81px;
  background-color: white;
  align-items: baseline;
  font-style: normal;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.OtherEducation-Container .OtherEducation-ContainerArticle {
  width: 100%;
  color: black;
  font-family: FontAwesome;
  margin-left: 40px;
  background-color: white;
  align-items: baseline;
}

.OtherEducation-Container .OtherEducation-ContainerArticle .OtherEducation-ContainerUl {
  padding-left: 0;
  margin: 0;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

.OtherEducation-Container .OtherEducation-ContainerArticle .OtherEducation-ContainerUl .OtherEducation-ContainerParagraph {
  font-family: FontAwesome;
  font-size: 16px;
  font-weight: 500;
  color: gray;
  font-style: italic;
  margin-left: 22%;
  /* background-color: black; */
}



.button-class {
  display: flex;
  justify-content: right;
}

.button-class>button {
  color: #34495e;
  background-color: rgb(252, 249, 249);
  font-size: 17px;
  border-radius: 8px;
}

.button-class>button:hover {
  color: wheat;
  background-color: #28516d;

}



/* Responsive Design */
@media screen and (max-width: 768px) {
  .resume-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-right {
    text-align: left;
    margin-top: 10px;
  }

  .resume-content {
    flex-direction: column;
  }

  .sidebar {
    margin-top: 20px;
    /* margin-left: 142px; */
  }

  .sidebar .toggle-btn {
    margin: -28px 0px 0px 142px;
    width: 200px;
  }
}



















































/*  Third Resume Section */
/* Resume 3 FUll Details  */
.resume {
  background: white;
  /* background-color: red; */
  /* padding: 20px; */
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 900px;
  margin: 60px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* padding-top: 50px; */
  /* margin-top: 60px; */
  /* padding: 20px 40px; */

}

.resume h2 {
  padding-left: 45px;
  margin-bottom: 10px;
  /* background-color:  rgb(140, 140, 167); */
}

.resume .left-button {
  background-color: rgb(86, 86, 146);
  /* margin-left: 92%; */
}

.resume .right-button {
  background-color: rgb(86, 86, 146);
  margin-left: 92%;
}

.header {
  text-align: center;
  padding: 20px 40px 20px 40px;
  background-color: #34495e;
  color: white;
}

.header h1 {
  margin: 0;
  font-size: 2em;
}

.resume .header p {
  align-items: center;
  text-align: center;
}



.header h2 {
  margin: 0;
  padding: 20px 40px;
  font-size: 1.2em;
  color: #666;
  display: flex;
  justify-content: space-around;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0px 40px;
}

.contact-info p {
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 5px 20px 5px;
}



.experience3-mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 0px 0px 21px;
}

.experience3-heading {
  font-size: 22px;
  font-weight: 600;
  color: black;
  font-family: FontAwesome;
  margin: 0px 0px 0px 67px;
}

.experience3-title {
  font-size: 16px;
  font-family: FontAwesome;
  font-size: 14px;
  font-weight: 500;
  color: black;
  margin: 11px 0px 0px 40px;
}




.skill3-mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

}

.skill3-heading {
  font-size: 22px;
  font-weight: 600;
  color: black;
  font-family: FontAwesome;
  margin: 0px 0px 0px 67px;
}

.skill3-title {
  color: black;
  width: 100%;
  margin: 0;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  margin: 0 0px 0px 168px;
  max-width: 650px;
  text-align: justify;
}




.experience3-mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 30px 0px 0px 0px;
}

.experience3-heading {
  font-size: 22px;
  font-weight: 600;
  color: black;
  font-family: FontAwesome;
  text-transform: capitalize;
  margin: 0px 0px 0px 47px;
}

.experience3-card {
  margin: 10px 0px 11px 0px;
}

.experience3-title {
  font-size: 16px;
  color: black;
  width: 100%;
  margin: 0;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  margin: 0 0px 0px 145px;
  max-width: 650px;
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}




.academic3-mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 30px 0px 0px 0px;
}

.academic3-heading {
  font-size: 22px;
  font-weight: 600;
  color: black;
  font-family: FontAwesome;
  text-transform: capitalize;
  margin: 0px 0px 0px 67px;
  /* margin-left: 67px; */
}

.academic3-title {
  color: black;
  width: 100%;
  margin: 0;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  margin: 0 0px 0px 168px;
  max-width: 650px;
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



.otherEducation3-languages3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 4% 0px 3% 17%;
}



.otherEducation3-mainContainer {

  font-family: FontAwesome;
  max-width: 527px;
}

.otherEducation3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 0px 70px;
  font-size: 14px;
  font-weight: 500;
  color: black;
  padding-left: 53px;
}

.otherEducation3-heading {
  font-size: 22px;
  font-family: FontAwesome;
  font-weight: 600;
  color: black;
  font-variant: small-caps;
  text-align: center;
  text-transform: capitalize;
}

.otherEducation3-title {
  font-size: 14px;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.otherEducation3 p {
  padding: 10px 5px 0px 30px;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}











.languages3-mainContainer {
  margin: 0px 0px 0px 76px;
  max-width: 233px;
}

.languages3 {
  display: flex;
  flex-wrap: wrap;
  /* Allows wrapping if needed */
  justify-content: flex-start;
  /* Align items to the start of the row */
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
  color: black;
  gap: 20px;
  /* Add spacing between items */
}

.languages3-heading {
  font-size: 22px;
  font-family: FontAwesome;
  font-weight: 600;
  color: black;
  font-variant: small-caps;
  text-align: center;
  text-transform: capitalize;
  margin: 0px 0px 0px -20px;
}

.languages3 p {
  font-size: 14px;
  font-weight: 500;
  flex: 0 0 calc(50% - 20px);
  margin: 0;
  text-align: center;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0px 0px 0px 23px;
}





.button-class {
  display: flex;
  justify-content: right;
  padding-left: 40px;
}

.download-buttons {
  /* background-color: red; */
  text-align: right;
  padding: 20px 60px 20px 50px;
}