<!-- <div class="dropdown-container"> -->
<!-- Dropdown to select format -->
<!-- <label for="cvFormat" class="dropdown-label">Select CV Format:</label>
    <select id="cvFormat" [(ngModel)]="selectedFormat" (change)="onChangeFormat()" class="dropdown-select">
        <option *ngFor="let format of formats" [value]="format.value">{{ format.label }}</option>
    </select>
</div> -->


<!-- Conditional rendering based on the selected format -->









<!-- Count Total Registered Users -->
<!-- <p> Total Users : {{ registeredUsers }}</p> -->



<!-- Format: Education -->
<div class="formats-of-resumes">


    <div *ngIf="currentIndex === 0" class="education">

        <div class="resume-container">
            <!-- <button class="arrow prev" (click)="scrollLeft()">&lt;</button>
            <button class="arrow next" (click)="scrollRight()">&gt;</button> -->

            <div class="buttons-div">
                <button class="button-left" role="button" (click)="scrollLeft()">&lt;</button>
                <button class="button-right" role="button" (click)="scrollRight()"> &gt;</button>
            </div>
            <header class="resume-header">
                <div class="header-left">
                    <h1>Jai Shankar</h1>
                    <h2>Professional Summary</h2>
                    <p>
                        Customer-focused Retail Sales professional with solid understanding of retail dynamics,
                        marketing, and customer service. Offers 5 years of experience providing quality product
                        recommendations and solutions to meet customer needs and exceed expectations. Demonstrated
                        record of exceeding revenue targets by leveraging communication skills and sales expertise.
                    </p>
                </div>
                <!-- <div class="header-right">
                    <img src="avatar.jpg" alt="Profile Picture">
                </div> -->
            </header>

            <main class="resume-content">
                <section class="main-content">
                    <h2>Experience</h2>
                    <article>
                        <h3>Retail Sales Associate (02/2021 – Current)</h3>
                        <h4>ZARA – New Delhi, India</h4>
                        <ul>
                            <li>Increased monthly sales by 10% through effective upselling.</li>
                            <li>Proactively resolved issues by leveraging attention to detail and integrity.</li>
                            <li>Managed payments and maintained accurate cash drawers.</li>
                        </ul>
                    </article>

                    <article>
                        <h3>Barista (03/2019 – 09/2021)</h3>
                        <h4>Dunkin’ Donuts – New Delhi, India</h4>
                        <ul>
                            <li>Boosted average store sales by 15%.</li>
                            <li>Trained 5+ new staff in standard procedures.</li>
                        </ul>
                    </article>

                    <article>
                        <h3>Cashier (01/2017 – 02/2019)</h3>
                        <h4>Burger King – New Delhi, India</h4>
                        <ul>
                            <li>Processed all transactions quickly and accurately.</li>
                            <li>Handled customer complaints to ensure satisfaction.</li>
                        </ul>
                    </article>
                </section>

                <section class="sidebar">
                    
                    
                    <h2>Skills</h2>
                    <ul>
                        <li>Recreational Football League</li>
                    </ul>
                    


                    <h2>Core Qualifications</h2>
                    <ul>
                        <li>Cash register operation</li>
                        <li>POS system expertise</li>
                        <li>Inventory management</li>
                    </ul>
                    
                    <h2>Contact</h2>
                    <p>Address: New Delhi, India 110034</p>
                    <p>Phone: +92 555 3345</p>
                    <p>Email: isagarwalexample.in</p>

                   



                    


                    <h2>Languages</h2>
                    <ul>
                        <li>Hindi: Native</li>
                        <li>English: Fluent</li>
                    </ul>
                </section>
            </main>
        </div>
    </div>
















    <!--  Simple  Resume Template  -->
    <!-- <div *ngIf="selectedFormat === 'format2'" class="simple"> -->
    <div class="resume-container" *ngIf="currentIndex === 1">
        <div class="buttons-div">
            <button class="button-left" role="button" (click)="scrollLeft()">&lt;</button>
            <button class="button-right" role="button" (click)="scrollRight()"> &gt;</button>
        </div>
        <header class="resume-header">
            <div class="header-left">
                <h1>Narendar Modi</h1>
                <h2>Professional Summary</h2>
                <p>
                    Customer-focused Retail Sales professional with in-depth understanding of retail dynamics,
                    marketing, and customer service. Offers 5 years of experience providing quality product
                    recommendations and solutions to meet customer needs and exceed expectations. Demonstrated
                    record of exceeding revenue targets by leveraging communication skills and sales expertise.
                </p>
            </div>
            <div class="header-right">
                <p>New Delhi, India 110034</p>
                <p>+91 22 555 3345</p>
                <p><a href="mailto:lagarwal@sample.in">lagarwalsample.in</a></p>
            </div>
        </header>

        <main class="resume-content">
            <section class="main-content">
                
                
                <h2>Experience</h2>
                <article>
                    <h3>Retail Sales Associate (02/2021 – Current)</h3>
                    <h4>ZARA – New Delhi, India</h4>
                    <ul>
                        <li>Increased monthly sales by 10% through effective upselling and cross-selling products to
                            maximize profitability.</li>
                        <li>Prevented store losses by leveraging awareness, attention to detail, and integrity to
                            identify and investigate concerns.</li>
                        <li>Managed payments and maintained accurate cash drawers to meet financial goals.</li>
                    </ul>
                </article>
                
                
                
                <h2>Core Qualifications</h2>
                <ul>
                    <li>Cash register operation</li>
                    <li>POS system operation</li>
                    <li>Teamwork</li>
                    <li>Inventory management</li>
                    <li>Accurate money handling</li>
                    <li>Retail merchandising expertise</li>
                </ul>

                

                <article>
                    <h3>Barista (03/2019 – 09/2021)</h3>
                    <h4>Dunkin’ Donuts – New Delhi, India</h4>
                    <ul>
                        <li>Boosted average store sales by 15% and increased customer satisfaction.</li>
                        <li>Managed a team of over 30 customers daily with efficient, accurate, and friendly
                            service.</li>
                        <li>Developed customer-friendly strategies to increase brand loyalty and repeat business.
                        </li>
                    </ul>
                </article>

                <article>
                    <h3>Cashier (01/2017 – 02/2019)</h3>
                    <h4>Burger King – New Delhi, India</h4>
                    <ul>
                        <li>Processed all sales transactions accurately and promptly to prevent errors.</li>
                        <li>Handled customer inquiries and complaints with professionalism.</li>
                        <li>Kept workstations and the store organized and clean, ensuring a welcoming environment.
                        </li>
                    </ul>
                </article>
            </section>

            <section class="sidebar">
                
                <h2>Skills</h2>
                <ul>
                    <li>Recreational Football League</li>
                    <li>International Cricket League</li>
                </ul>
                
                
                <h2>Education</h2>
                <p>Financial Accounting, 2018</p>
                <p>Oxford Software Institute & Oxford School of English – New Delhi, India</p>

                

                <h2>Other Education </h2>
                <ul>
                    <li>Taught lifesaving skills and CPR classes.</li>
                    <li>Red Cross volunteer</li>
                </ul>

                <h2>Languages</h2>
                <ul>
                    <li>Hindi: Native</li>
                    <li>English: Fluent</li>
                    <li>Bengali: Intermediate</li>
                </ul>
            </section>
        </main>
    </div>
    <!-- </div> -->


</div>


<router-outlet></router-outlet>