<div class="sidebar" [class.open]="isSidebarOpen">
  <!-- Toggle Button -->
  <button class="toggle-btn" (click)="toggleSidebar()">
    {{ isSidebarOpen ? 'Close Menu' : 'Open Menu' }}
  </button>

  <!-- Sidebar Content -->
  <div>
    <button class="button-33" role="button" (click)="onLogout()">Logout</button>
    <button class="button-33" role="button" routerLink="/final_resumes"> Final Resumes </button>
    <button class="button-33" role="button" routerLink="/dashboard"> Create Resume </button>

  </div>
</div>











<!-- Error Message Section -->
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>



<!-- Resumes Section -->
<div class="formats-of-resumes">

  <div *ngIf="currentIndex === 0" id="resume-content">
    <div *ngFor="let resume of resumes; let i = index" class="resume-card" [id]="'resume-' + i">
      <div class="buttons-div">
        <button class="button-left" role="button" (click)="scrollLeft()">&lt;</button>
        <button class="button-right" role="button" (click)="scrollRight()"> &gt;</button>
      </div>

      <!-- Personal Info Section -->
      <div class="personal-info">
        <button (click)="deleteResumes(resume.personalRecord.personalRecordId)" class="button-33" role="button">Delete
          Resume</button>
        <h2>{{ resume.personalRecord.name }}</h2>
        <img *ngIf="resume.personalRecord.imagePath" [src]="resume.personalRecord.imagePath" alt="Profile Image"
          class="profile-image" />
        <p><strong>Email:</strong> {{ resume.personalRecord.email }} || <strong>Phone:</strong> {{
          resume.personalRecord.phone }}</p>
        <p></p>
        <p><strong>Address:</strong> {{ resume.personalRecord.address }}</p>
        <p><strong>Intro:</strong> {{ resume.personalRecord.intro }}</p>
      </div>


      <!-- Experience Section -->
      <div class="section">
        <h3 *ngIf="resume.experience.length > 0">Experience</h3>
        <ul *ngFor="let exp of resume.experience">
          <li>
            <strong>{{ exp.jobTitle }}</strong>
            in {{ exp.location }}
            with {{ exp.yearsOfExperience }} years of experience
          </li>
          <div class="button-class">
            <button class="button-33" role="button" (click)="editExperienceRecord(exp)"> Edit Experience
            </button>
            <button class="button-33" (click)="deleteExperienceRecordById(exp)"> Delete Experience Record </button>
          </div>
        </ul>
      </div>

      <!-- Skills Section -->
      <div class="section">
        <h3 *ngIf="resume.skills.length > 0">Skills</h3>
        <ul *ngFor="let skill of resume.skills">
          <li>
            <strong>{{ skill.skillName }}</strong> - Efficiency: {{ skill.efficiency }}
          </li>
          <div class="button-class">
            <button class="button-33" role="button" (click)="editSkillsRecords(skill)"> Edit Skills </button>
            <button class="button-33" role="button" (click)="deleteSkillRecordById(skill)"> Delete SKill Record
            </button>
          </div>
        </ul>
      </div>


      <!-- Education Section -->
      <div class="section">
        <h3 *ngIf="resume.educations.length > 0">ducation</h3>
        <ul *ngFor="let education of resume.educations">
          <li>
            <strong>{{ education.degree }}</strong>
            at {{ education.institute }}
            ({{ education.yearOfCompletion }})
          </li>
          <div class="button-class">
            <button class="button-33" role="button" (click)="editEducation(education)"> Edit Education </button>
            <button class="button-33" role="button" (click)="deleteEducationRecord(education)"> Delete Education Record
            </button>
          </div>
        </ul>
      </div>

      <!-- Extra Education Section -->
      <div class="section">
        <h3 *ngIf="resume.extraEducations.length > 0">Extra Education</h3>
        <ul *ngFor="let extraEducation of resume.extraEducations">
          <li>
            <strong>{{ extraEducation.exEduDegree }}</strong>
            at {{ extraEducation.exEduInstitute }}
            ({{ extraEducation.exEduYearOfCompletion }})
          </li>
          <div class="button-class">
            <button class="button-33" role="button" (click)="editExtraEducation(extraEducation)"> Edit Extra
              Education</button>
            <button class="button-33" (click)="deleteExtraEducationRecordById(extraEducation)"> Delete Extra Education
              Record </button>
          </div>
        </ul>
      </div>


      <!-- Languages Section -->
      <div class="section">
        <h3 *ngIf="resume.languages.length > 0">Languages</h3>
        <ul *ngFor="let language of resume.languages">
          <li>
            {{ language.languageName }}
          </li>
          <div class="button-class">
            <button class="button-33" role="button" (click)="editLanguageRecord(language)"> Edit languages </button>
            <button class="button-33" role="button" (click)="deleteLanguageRecordById(language)"> Delete Language
            </button>
          </div>
        </ul>
      </div>
    </div>
    <!-- </div> -->

  </div>
  <!-- No Resumes Available Message -->
  <div *ngIf="resumes.length === 0" class="no-resumes-message">
    No resumes available.
  </div>










  <!--  Simple  Resume Template  -->
  <div *ngIf="currentIndex === 1" class="simple">
    <!-- <div *ngIf="resumes.length > 0" class="resume-container"> -->
    <div *ngFor="let resue of resumes; let i = index" class="resume-item" id="resume-content" [id]="'resume-' + i">

      <div class="buttons-div">
        <button class="button-left" role="button" (click)="scrollLeft()">&lt;</button>
        <button class="button-right" role="button" (click)="scrollRight()"> &gt;</button>
      </div>
      <header class="resume-header">
        <div class="header-left">
          <!-- <button type="button"  (click)="deleteResumes(resue.personalRecord.personalRecordId)"> Delete  </button> -->
          <h1> {{ resue.personalRecord.name }} </h1>
          <p>
            {{ resue.personalRecord.intro }}
          </p>
        </div>
        <div class="header-right">
          <p> {{ resue.personalRecord.address }} </p>
          <p> {{ resue.personalRecord.phone }} </p>
          <p>{{ resue.personalRecord.email }}</p>
        </div>
      </header>

      <main class="resume-content">
        <section class="main-content">
          <h2 *ngIf="resue.educations.length > 0"> Qualifications</h2>
          <ul *ngFor="let edu of resue.educations">
            <li>
              <h3> {{ edu.degree }} </h3>
              <p class="main-container-ul-li-p"> || Institute : {{ edu.institute }} || Year Of Completion : {{
                edu.yearOfCompletion }} ||</p>


              <div class="button-class">
                <button class="button-33" role="button" (click)="editEducation(edu)"> Edit Education </button>
                <button class="button-33" role="button" type="button" (click)="deleteEducationRecord(edu)"> Delete
                  Education </button>
              </div>
            </li>

          </ul>


          <h2 *ngIf="resue.extraEducations.length > 0">Other Education</h2>
          <article *ngFor="let extra of resue.extraEducations">
            <h3> {{ extra.exEduDegree }} </h3>
            <h4 class="main-container-ul-li-p"> || Institute : {{ extra.exEduInstitute }} || Year Of Completion : {{
              extra.exEduYearOfCompletion }} ||</h4>
            <div class="button-class">
              <button class="button-33" role="button" (click)="editExtraEducation(extra)"> Edit Extra Education
              </button>
              <button class="button-33" role="button" (click)="deleteExtraEducationRecordById(extra)"> Delete Extra
                Education Record </button>
            </div>
          </article>


          <h2 *ngIf="resue.experience.length > 0">Experience</h2>
          <article *ngFor="let exp of resue.experience">
            <h3> {{ exp.jobTitle }} </h3>
            <h4 class="main-container-ul-li-p"> || Location : {{ exp.location }} || Total Experience : {{
              exp.yearsOfExperience }} ||</h4>

            <div class="button-class">
              <button class="button-33" role="button" type="button" (click)="editExperienceRecord(exp)"> Edit
                Experience</button>
              <button class="button-33" role="button" (click)="deleteExperienceRecordById(exp)"> Delete Experience Record
              </button>
            </div>

          </article>

          <article *ngFor="let skill of resue.skills">
            <h2 *ngIf="resue.skills">Skills</h2>
            <h3> {{ skill.skillName }} </h3>
            <h4 class="main-container-ul-li-p">|| Efficiency : {{ skill.efficiency }} || </h4>

            <div class="button-class">
              <button class="button-33" role="button" type="button" (click)="editSkillsRecords(skill)"> Edit Skill
                Details </button>
              <button class="button-33" role="button" (click)="deleteSkillRecordById(skill)"> Delete SKill Record
              </button>
            </div>
          </article>

          <article *ngFor="let language of resue.languages">
            <h2 *ngIf="resue.languages.length > 0"> Languages </h2>

            <h3> || {{ language.languageName }} || </h3>
            <div class="button-class">
              <button class="button-33" role="button" type="button" (click)="editLanguageRecord(language)"> Edit Skill
                Details </button>
              <button class="button-33" role="button" (click)="deleteLanguageRecordById(language)"> Delete Language
              </button>
            </div>


          </article>
          <!-- <div class="button-class">
           
          </div> -->
        </section>
      </main>
      <div class="download-buttons">
        <button class="button-33" role="button" type="button"
          (click)="deleteResumes(resue.personalRecord.personalRecordId)" style="background-color: red; color:wheat;">
          Delete Resume
        </button>
      </div>
    </div>

  </div>









  <div *ngIf="currentIndex === 2">
    <div class="resume" *ngFor="let resue of resumes; let i = index" id="resume-content" [id]="'resume-' + i">
      <div class="buttons-div">
        <button class="button-left" role="button" (click)="scrollLeft()">&lt;</button>
        <button class="button-right" role="button" (click)="scrollRight()"> &gt;</button>
      </div>
      <div class="header">
        <h1 style="margin-bottom: 10px;"> {{ resue.personalRecord.name }} </h1>
        <p> {{ resue.personalRecord.intro }} </p>
      </div>

      <div class="contact-info">
        <div>
          <p><strong>Contact :</strong> {{ resue.personalRecord.phone }} </p>
          <p><strong>Email :</strong> {{ resue.personalRecord.email }} </p>
          <p><strong>Address :</strong> {{ resue.personalRecord.address }} </p>

        </div>
      </div>

      <!-- Experience Record -->
      <h2 *ngIf="resue.experience.length > 0"> Experience Record </h2>
      <div class="section" *ngFor="let exp of resue.experience">

        <div class="parent-section">
          <h3 class="h3-heading"> {{ exp.jobTitle }} </h3>
          <p> {{ exp.location }}
          </p>
        </div>
        <div class="child-section">
          <p> {{ exp.yearsOfExperience }} </p>
          <div class="button-class">

            <button class="button-33" role="button" (click)="editExperienceRecord(exp)"> update Experience </button>
            <button class="button-33" role="button" (click)="deleteExperienceRecordById(exp)"> Delete Experience Record
            </button>
          </div>
        </div>

      </div>

      <h2 *ngIf="resue.skills.length > 0"> KEY SKILLS & TECHNOLOGIES </h2>
      <div class="section" *ngFor="let skill of resue.skills">
        <div class="parent-section">
          <h3 class="h3-heading"> {{ skill.skillName }} </h3>
        </div>
        <div class="child-section2">
          <ul>
            <li> {{ skill.efficiency }} </li>
            <div class="button-class">
              <button class="button-33" role="button" (click)="editSkillsRecords(skill)"> update SKills </button>
              <button class="button-33" role="button" (click)="deleteSkillRecordById(skill)"> Delete SKill Record
              </button>
            </div>
          </ul>
        </div>
      </div>

      <h2 *ngIf="resue.educations.length > 0"> Academics </h2>
      <div class="section" *ngFor="let edu of resue.educations">
        <div class="parent-section">
          <h3 class="h3-heading"> {{ edu.degree }} </h3>
        </div>
        <div class="child-section2">
          <ul>
            <li> {{ edu.institute }} </li>
            <li> {{ edu.yearOfCompletion }} </li>
            <div class="button-class">

              <button class="button-33" role="button" (click)="editEducation(edu)"> Edit Education </button>
              <button class="button-33" role="button" (click)="deleteEducationRecord(edu)"> Delete Acadamic Record
              </button>
            </div>
          </ul>
        </div>
      </div>





      <h2 *ngIf="resue.extraEducations.length > 0"> Other Education </h2>
      <div class="section" *ngFor="let ext of resue.extraEducations">
        <div class="parent-section">
          <h3 class="h3-heading"> {{ ext.exEduDegree }} </h3>
        </div>
        <div class="child-section2">
          <ul>
            <li> {{ ext.exEduInstitute }} </li>
            <li> {{ ext.exEduYearOfCompletion }} </li>
            <div class="button-class">
              <button class="button-33" role="button" (click)="editExtraEducation(ext)"> Edit Education </button>
              <button class="button-33" role="button" (click)="deleteExtraEducationRecordById(ext)">Delete Extra
                Education
              </button>
            </div>

          </ul>
        </div>
      </div>



      <h2 *ngIf="resue.languages.length > 0"> Language Record </h2>
      <div class="section" *ngFor="let language of resue.languages">

        <div class="child-section2">
          <ul>
            <li> {{ language.languageName }}

              <div class="button-class">
                <button class="button-33" role="button" (click)="editLanguageRecord(language)"> Edit Language </button>
                <button class="button-33" role="button" (click)="deleteLanguageRecordById(language)"> Delete Language</button>
              </div>
              
              
            </li>


          </ul>
        </div>
      </div>

      <div class="download-buttons">
        <button class="button-33" role="button" type="button"
          (click)="deleteResumes(resue.personalRecord.personalRecordId)" style="background-color: red; color:wheat;">
          Delete Resume
        </button>
      </div>
    </div>
  </div>
</div>
<!-- No Resumes Available Message -->
<div *ngIf="resumes.length === 0" class="no-resumes-message">
  No resumes available.
</div>
<!-- <button type="button" (click)="scrollRight()"> &gt;</button> -->













<!-- </div> -->








































<div *ngFor="let resume of resumes">
  <div *ngFor="let education of resume.educations">
    <!-- Display form when editing -->
    <div *ngIf="selectedEducationId === education.educationId" class="modal-container">
      <div class="modal-content">
        <h3>Update Education</h3>
        <form (ngSubmit)="submitUpdate()">
          <label for="degree">Degree:</label>
          <input id="degree" [(ngModel)]="updatedEducation.degree" name="degree" required />

          <label for="institute">Institute:</label>
          <input id="institute" [(ngModel)]="updatedEducation.institute" name="institute" required />

          <label for="yearOfCompletion">Year of Completion:</label>
          <input id="yearOfCompletion" [(ngModel)]="updatedEducation.yearOfCompletion" name="yearOfCompletion"
            required />

          <button type="submit">Save</button>
          <button type="button" (click)="cancelEdit()">Cancel</button>
        </form>
      </div>
    </div>

  </div>
</div>









<div *ngFor="let resume of resumes">
  <div *ngFor="let extra of resume.extraEducations">
    <!-- Display form when editing -->
    <div *ngIf="selectedExtraEducationRecordId === extra.exEducationId" class="modal-container">
      <div class="modal-content">
        <h3>Update Extra Education Record </h3>
        <form (ngSubmit)="submitExtraEducationRecord()">
          <label for="exEduDegree">exEduDegree:</label>
          <input id="exEduDegree" [(ngModel)]="updateExEducationModel.exEduDegree" name="exEduDegree" required />

          <label for="exEduInstitute">exEduInstitute:</label>
          <input id="exEduInstitute" [(ngModel)]="updateExEducationModel.exEduInstitute" name="exEduInstitute"
            required />

          <label for="exEduYearOfCompletion">exEduYearOfCompletion:</label>
          <input id="exEduYearOfCompletion" [(ngModel)]="updateExEducationModel.exEduYearOfCompletion"
            name="exEduYearOfCompletion" required />

          <button type="submit">Save</button>
          <button type="button" (click)="cancelExtraEducationEdit()">Cancel</button>
        </form>
      </div>
    </div>

  </div>
</div>


















<div *ngFor="let resume of resumes">
  <div *ngFor="let exp of resume.experience">
    <!-- Display form when editing -->
    <div *ngIf="SelectedExperienceRecordId === exp.experienceId" class="modal-container">
      <div class="modal-content">
        <h3>Update Experience </h3>
        <form (ngSubmit)="submitExperienceRecord()">
          <label for="jobTitle">jobTitle:</label>
          <input id="jobTitle" [(ngModel)]="updateExperience.jobTitle" name="jobTitle" required />

          <label for="location">location:</label>
          <input id="location" [(ngModel)]="updateExperience.location" name="location" required />

          <label for="yearsOfExperience">yearsOfExperience:</label>
          <input id="yearsOfExperience" [(ngModel)]="updateExperience.yearsOfExperience" name="yearsOfExperience"
            required />

          <button type="submit">Save</button>
          <button type="button" (click)="cancelExperienceEdit()">Cancel</button>
        </form>
      </div>
    </div>

  </div>
</div>





















<!--  Update SKills Records -->
<div *ngFor="let resume of resumes">
  <div *ngFor="let skill of resume.skills">
    <!-- Display form when editing -->
    <div *ngIf="SelectedSkillsRecordId === skill.skillId" class="modal-container">
      <div class="modal-content">
        <h3>Update Skills Details </h3>
        <form (ngSubmit)="submitSkillsRecord()">
          <label for="skillName">Skill Name:</label>
          <input id="skillName" [(ngModel)]="updateSkillRecord.skillName" name="skillName" required />

          <label for="efficiency">Efficiency :</label>
          <input id="efficiency" [(ngModel)]="updateSkillRecord.efficiency" name="efficiency" required />
          <button type="submit">Save</button>
          <button type="button" (click)="cancelSkillsEdit()">Cancel</button>
        </form>
      </div>
    </div>

  </div>
</div>
















<div *ngFor="let resume of resumes">
  <div *ngFor="let language of resume.languages">
    <!-- Display form when editing -->
    <div *ngIf="selectedLanguageRecordId === language.languageId" class="modal-container">
      <div class="modal-content">
        <h3>Update Languages Details </h3>
        <form (ngSubmit)="submitLanguageRecord()">
          <label for="languageName"> Language Name :</label>
          <input id="languageName" [(ngModel)]="updateLanguageModel.languageName" name="languageName" required />
          <button type="submit">Save</button>
          <button type="button" (click)="cancelLanguageEdit()">Cancel</button>
        </form>
      </div>
    </div>

  </div>
</div>











<router-outlet></router-outlet>