/* Resume 3 FUll Details  */
.resume {
    background-color: rgb(232, 236, 236);
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 900px;
    margin: 5px auto;
    padding: 0px 0px 10px 0px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}


.resume .finalResume {
    background-color: rgb(232, 236, 236);
    border: none;
    border-radius: 8px;
    padding: 5px;
}

.resume .finalResume .header {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    padding: 20px 40px 20px 40px;
}

.resume .finalResume .header h1 {
    padding-left: 45px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Space Grotesk;
    cursor: pointer;
}

.resume .finalResume .header p {
    text-align: center;
    cursor: pointer;
}

.contact-info div .intro{
    cursor: pointer;
}


.resume .finalResume .academic3-mainContainer {
    border-radius: 8px;
    cursor: pointer;
}

.resume .finalResume .academic3-mainContainer .academic3-heading {
    background-color: #d2e0fa;
    border-radius: 3px;
    width: 100%;
    height: 45px;
    padding-left: 10px;
    padding-top: 2px;
    font-family: Space Grotesk;
    font-size: 26px;
    cursor: pointer;
}

.resume .finalResume .academic3-mainContainer .academic3-title {
    color: black;
    padding-left: 20px;
    cursor: pointer;
}




.resume .finalResume .otherEducation3-mainContainer .otherEducation3-heading {
    background-color: #d2e0fa;
    border-radius: 8px;
    width: 100%;
    height: 45px;
    padding-left: 10px;
    padding-top: 2px;
    font-family: Space Grotesk;
    font-size: 26px;
    cursor: pointer;
}

.resume .finalResume .otherEducation3-mainContainer .otherEducation3 {
    color: black;
    padding-left: 20px;
    cursor: pointer;
}

.resume .finalResume .otherEducation3-mainContainer .otherEducation3 .otherEducation3-title {
    font-family: Space Grotesk;
    font-size: 22px;
    cursor: pointer;
}

.resume .finalResume .otherEducation3-mainContainer .otherEducation3 .paragraph {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15% 0px 50px;
    font-size: 18px;
    cursor: pointer;
}

.resume .finalResume .otherEducation3-mainContainer .otherEducation3 p {
    font-family: Space Grotesk;
    font-size: 18px;
    cursor: pointer;
}




.resume .finalResume .skill3-mainContainer .skill3-heading{
    background-color: #d2e0fa;
    border-radius: 8px;
    width: 100%;
    height: 45px;
    padding-left: 10px;
    padding-top: 2px;
    font-family: Space Grotesk;
    font-size: 26px;
    cursor: pointer;
}
.resume .finalResume .skill3-mainContainer .paragraph{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15% 0px 70px;
    font-family: Space Grotesk;
    font-size: 18px;
    cursor: pointer;
}

.resume .finalResume .skill3-mainContainer .skill3-title{
    color: black;
    font-family: Space Grotesk;
    font-size: 18px;
    cursor: pointer;
}






.resume .finalResume .experience3-mainContainer .experience3-heading{
    background-color: #d2e0fa;
    border-radius: 8px;
    width: 100%;
    height: 45px;
    padding-left: 10px;
    padding-top: 2px;
    font-family: Space Grotesk;
    font-size: 26px;
    cursor: pointer;
}
.resume .finalResume .experience3-mainContainer .experience3-card .experience3-title{
    color: black;
    padding: 20px 20px 0px 20px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}
.resume .finalResume .experience3-mainContainer .experience3-card .experience3-Role,
.experience3-Description,
.experience3-Technologies,
.experience3-Year{
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    font-size: 18px;
    font-family: Space Grotesk;
    cursor: pointer;
}









.resume .finalResume .languages3-mainContainer .languages3-heading{
    background-color: #d2e0fa;
    border-radius: 8px;
    width: 100%;
    height: 45px;
    padding-left: 10px;
    padding-top: 2px;
    font-family: Space Grotesk;
    font-size: 26px;
    cursor: pointer;
}


.resume .finalResume .languages3-mainContainer .languages3 p{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15% 0px 70px;
    font-family: Space Grotesk;
    font-size: 18px;
    cursor: pointer;
}










/*  Download Buttons */
.resume .download-buttons{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    padding: 0px 22px 0px 0px;
}

.resume .download-buttons button{
    background-color: #cfcbcb;
    color: rgb(15, 15, 15);
    padding: 10px 40px;
    margin: 0px 4px;
    border: none;
    border-radius: 50px;
    box-shadow: inset 0 -3em 3em rgb(0 200 0 / 30%), 0.3em 0.3em 1em rgba(47, 200, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-family: Space Grotesk;
    font-weight: 500;
} 




















button {
    background-color: #cfcbcb;
    color: rgb(15, 15, 15);
    padding: 10px 40px;
    border: none;
    border-radius: 50px;
    box-shadow:
      inset 0 -3em 3em rgb(0 200 0 / 30%),
  
      0.3em 0.3em 1em rgba(47, 200, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-family: Space Grotesk;
    font-weight: 500;
  }
  
  button:hover {
    background-color: blue;
  }
  
  
  /* No Resumes Available */
  .no-resumes-message {
    text-align: center;
    align-items: center;
    margin-top: -56px;
    font-size: 1.1rem;
    color: white;
    font-style: italic;
  }
  
  
  
  
  /*  Download Buttons CSS */
  .resume-container {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 800px;
    margin: auto;
    text-align: left;
  }
  
  
  
  button:hover {
    background-color: red;
  
  }





























/* Click to change colors of fonts and background */
.background-picker {
    width: 100%;
    height: 80px;
    background-color: rgb(204, 212, 125);
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0px 0px;

  }
  
  .background-colorbutton {
    padding: 12px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
  }
  
  .font-color-button {
    padding: 20px;
    width: auto;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .font-color-button:hover {
    background-color: #ddd;
    cursor: pointer;
  }
  
















  /* Pagination Next and Previous Buttons CSS */
.paginatedDiv{
    width: 100%;
    height: 60px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(204, 212, 125);
  }