<nav class="navbar" style="background-color: transparent;">
  <div class="logo"> <a routerLink="/landingPage">
    <img src="logo-2.png" alt="Resume Builder">
  </a></div>
  <ul class="nav-links" [ngClass]="{ 'nav-active': isMenuOpen }" *ngIf="isLoggedInn()">
    <li><a routerLink="/landingPage">Home</a></li>
    <li>
      <a routerLink="/resumes">Dashboard</a>
    </li>  
    <li>
        <a routerLink="" (click)="logOut()">Logout
          <div class="blinking-circle"></div>
        </a>
      </li>
      
  </ul>

  <ul class="nav-links" [ngClass]="{ 'nav-active': isMenuOpen }" *ngIf="!isLoggedInn()">
    <li><a routerLink="/landingPage">Home</a></li>
      <!-- <li>
        <a routerLink="" (click)="logOut()">Logout</a>
      </li> -->
      <li>
        <a routerLink="/resumes">Login </a>

      </li>
  </ul>
  <div class="burger" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>