<nav class="navbar">
  <div class="logo"> <a routerLink="/landingPage">Resume Builder</a></div>
  <ul class="nav-links" [ngClass]="{ 'nav-active': isMenuOpen }">
    <li><a routerLink="/landingPage">Home</a></li>
    <!-- <li><a routerLink="/resumeTemplates">Templates</a></li> -->
    
<!-- 
      <li><a routerLink="" (click)="logOut()"> LogOut</a></li>
      <li> 
        <a routerLink="/resumes"> Profile</a>
      </li> -->


      <li *ngIf="isLoggedIn">
        <a routerLink="" (click)="logOut()">Logout</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a routerLink="/resumes">Profile</a>
      </li>
    
    
    <!-- <li><a routerLink="/resumes"> Profile </a></li>
    <li><a routerLink="" (click)="logOut()"> Logout </a></li> -->
  </ul>
  <div class="burger" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>